a 	{
	color: #EDF582;
    text-decoration: overline;}
	
div	 {width: 70%;
	 padding: 30px;
      margin-left: auto;
	  margin-right: auto;} 
#div2           {width: 90%;
	    padding: 40px;
        margin-left: auto;
	    margin-right: auto;
		}
	 
p        {color: DEA0AE;
      font-family: bookman old style;
	  font-size: 30;}
	  
#box2    {width: 15%;
	    padding: 30px;
        margin-left: auto;
	    margin-right: auto;
		color: #EDF582;
		font-size: 50;}
h1	{ background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
        border: solid 6px #334252; 
		color: #DEA0AE;
        text-align: center;
        font-size: 50;
		border-top: double 15px #EDF582;}
hr  {
	margin: 20px 0;
	padding: 0;
	height: 2px;
	border: none;
	border-top: 2px solid #EDF582;
	border-bottom: 2px solid #334252;}
	
.rightimg {
 float: right; 
 margin: -10px; 
 }
 
 
 a {
  text-decoration: none;
  outline: none;
  display: inline-block;
  margin: 10px 20px;
  padding: 10px 30px;
  position: relative;
  border: 2px solid #f1c40f;
  color: #f1c40f;
  font-family: 'Montserrat', sans-serif; 
  transition: .4s;}
  
 a:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  margin: auto;
  border: 2px solid rgba(0,0,0,0);
  transition: .4s;
}
.button-container a:hover:after {
  border-color: #f1c40f;
  width: calc(100% - 10px);
  height: calc(100% + 10px);}
.link {
    padding: 0px;
    margin-left: 0px;
    }
		